body {
  height: 100vh;
}
.container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.sub-container {
  border: 2px solid orange;
  padding: 15px;
}
